.calculator-section{
  padding: clamp(50px, 6.944vw, 100px) 0 clamp(50px, 4.861vw, 70px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    gap: 41px;
  }

  &__title {
    padding-left: 16px;
    border-left: 11px solid var(--br-c);
    font-family: var(--font-montserrat);
    font-size: clamp(28px, 2.778vw, 40px);
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(var(--cl-d),1.0);
  }

  &__form {
    border-radius: 10px;
    overflow: hidden;

    &-blocks {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }

    &-values {
      display: flex;
      flex-direction: column;
      gap: 15px;

      @include for-tablet {
        align-items: flex-end;
      }

      li {
        position: relative;
        padding-left: 55px;
        counter-increment: list;

        &::before {
          content: counter(list);
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: rgba(var(--bg-c),1.0);
          box-shadow: inset 2px 2px 2px 4px rgba(0, 0, 0, 0.25);
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: var(--font-montserrat);
          font-size: 22px;
          line-height: 100%;
          font-weight: 800;
          color: rgba(var(--cl-a),1.0);
          text-transform: uppercase;
        }
      }
    }

    &-label {
      display: flex;
      align-items: center;
      gap: clamp(10px, 1.042vw, 15px);

      @include mobile {
        width: 100%;
      }

      span {
        font-family: var(--font-gilroy);
        font-size: clamp(20px, 1.806vw, 26px);
        line-height: 100%;
        font-weight: 500;

        @include for-mobile {
          text-align: right;
        }

        @include mobile {
          flex-grow: 1;
        }
      }

      p {
        font-family: var(--font-gilroy);
        font-size: clamp(24px, 1.806vw, 26px);
        line-height: 100%;
        font-weight: 300;
      }
    }

    &-input {
      height: 40px;
      width: clamp(80px, 9.028vw, 130px);
      padding: 0 10px;
      background-color: rgba(var(--bg-a),1.0);
      border: 1px solid var(--br-e);
      font-family: var(--font-gilroy);
      font-size: clamp(20px, 1.736vw, 25px);
      line-height: 100%;
      font-weight: 400;
    }

    &-submit {
      max-width: 440px;
      width: 100%;
      padding: 13px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background-color: rgba(var(--bg-c),1.0);
      border: 1px solid var(--br-c);
      border-radius: 5px;
      font-family: var(--font-gilroy);
      font-size: 25px;
      line-height: 100%;
      font-weight: 400;
      color: rgba(var(--cl-a),1.0);
      transition: all 0.3s ease;

      svg {
        fill: currentColor;
        transition: 0.1s;
      }

      &:hover,
      &:active {
        color: rgba(var(--cl-c),1.0);
        background-color: rgba(var(--bg-a),1.0);
      }

      @include for-tablet {
        margin-left: auto;
      }

      @include tablet {
        max-width: 100%;
      }
    }
  }

  &__block {
    display: grid;
    grid-template-columns: clamp(220px, 18.75vw, 360px) 1fr;
    background-color: rgba(var(--bg-c),1.0);

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }

    &-title {
      border-right: 3px solid var(--br-a);
      font-family: var(--font-gilroy);
      font-size: clamp(22px, 2.083vw, 30px);
      line-height: 100%;
      font-weight: 500;
      color: rgba(var(--cl-e),1.0);

      @include for-tablet {
        padding: clamp(20px, 1.875vw, 27px) clamp(20px, 1.875vw, 27px) clamp(20px, 1.875vw, 27px) clamp(20px, 4.583vw, 66px);
      }

      @include tablet {
        padding: 20px;
      }

      @media (max-width: 767px) {
        padding-bottom: 0;
        border-right: 0;
        text-align: center;
      }
    }

    &-content {
      padding: 15px clamp(15px, 2.778vw, 40px);
      display: flex;
      align-items: center;
    }

    &-selects {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px clamp(20px, 3.125vw, 45px);

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }

    &-types {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: clamp(10px, 1.389vw, 20px);

      li {
        width: clamp(50px, 5.273vw, 54px);
        height: clamp(50px, 5.273vw, 54px);
        background-color: rgba(var(--bg-f),1.0);
        border: 2px solid var(--br-f);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        cursor: pointer;

        &.active,
        &:hover {
          border: 2px solid var(--br-a);
          background-color: rgba(var(--bg-c),1.0);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  &__content {
    display: grid;
    background-color: rgba(var(--bg-d), 0.74);

    @include for-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      grid-template-columns: 40% 1fr;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }

    &-heading {
      font-family: var(--font-montserrat);
      font-size: clamp(22px, 2.083vw, 30px);
      line-height: 100%;
      font-weight: 800;
      text-transform: uppercase;
      color: rgba(var(--cl-d),1.0);
    }

    &-image {
      flex-grow: 1;
      display: flex;
      justify-content: center;

      @include for-tablet {
        align-items: center;
      }

      @include tablet {
        align-items: flex-start;
      }
    }

    &-left {
      padding: clamp(30px, 3.906vw, 40px) clamp(30px, 4.514vw, 65px) clamp(30px, 4.883vw, 50px);
      display: flex;
      flex-direction: column;
      gap: clamp(15px, 2.441vw, 25px);
      border-right: 2px solid var(--br-d);

      @media (max-width: 767px) {
        border-right: none;
        padding: 30px 15px 10px;
        gap: 30px;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: clamp(30px, 5.208vw, 40px);
    }
  }

  &__info {
    padding: clamp(20px, 5.208vw, 40px) clamp(15px, 2.604vw, 20px) 0;
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 3.516vw, 27px);

    @include for-tablet {
      .calculator-section__content-heading {
        margin-left: 50px;
      }
    }
  }

  &__result {
    padding: 0 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 37px;

    &-heading {
      font-family: var(--font-montserrat);
      font-size: clamp(22px, 2.083vw, 30px);
      line-height: 100%;
      font-weight: 800;
      text-transform: uppercase;
      color: rgba(var(--cl-c),1.0);

      @include for-tablet {
        margin-left: clamp(24px, 2.083vw, 30px);
      }
    }

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      @media (max-width: 767px) {
        flex-wrap: wrap;
      }
    }
  }

  .select {
    position: relative;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 100px;
    user-select: none;
    transition: all 0.1s;
  
    &__header {
      width: 100%;
      max-width: 100%;
      cursor: pointer;
      gap: 16px;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 6;
  
      & > svg {
        transition: transform 0.2s linear;
        flex-shrink: 0;
        fill: transparent;
      }
    }
  
    &__current {
      flex-grow: 1;
      overflow: hidden;
      width: 100%;
      display: flex;
      align-items: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: all 0.3s;
  
      font-family: var(--font-gilroy);
      font-size: 25px;
      line-height: 120%;
      font-weight: 400;
      color: rgba(var(--cl-b),1.0);
    }
  
    &__body {
      right: -2px;
      position: absolute;
      z-index: 5;
      height: 0;
      top: calc(100% + 5px);
      overflow: hidden;
      transition: height 0.1s ease-in;
      border-radius: 10px;
      left: -2px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      background: rgba(var(--bg-a),1.0);
    }
  
    &__list {
      max-height: 500px;
      overflow-y: auto;
      padding-right: 10px;
  
      &::-webkit-scrollbar-thumb {
        background-color: #898989;
        border-radius: 8px;
      }
  
      &::-webkit-scrollbar-track {
        background-color: #ccc;
      }
  
      &::-webkit-scrollbar {
        width: 3px;
        border-radius: 8px;
      }
    }
  
    &__option {
      padding: 10px;
      width: 100%;
      cursor: pointer;
      transition: all 0.3s;
      font-family: var(--font-family);
      line-height: 100%;
      font-weight: 300;
      font-size: 18px;
      color: rgba(var(--cl-d),1.0);
      background-color: rgba(var(--bg-a),1.0);
      border-radius: 5px;
  
      &:hover {
        color: rgba(var(--cl-a),1.0);
        background-color: rgba(var(--bg-c),1.0);
      }
  
      a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }
  
  .select.active {
    z-index: 9;
  
    .select__header > svg {
      transform: scaleY(-1);
    }
  
    .select__body {
      padding: 10px 15px 10px 10px;
    }
  }
}
