<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>КАЛЬКУЛЯТОР МЕТАЛОПРОКАТУ ОНЛАЙН</title>

    <link rel="preload" href="static/fonts/Montserrat-ExtraBold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/Gilroy-Light.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/Gilroy-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/Gilroy-Medium.woff" as="font" crossorigin="anonymous">
    
    <link rel="stylesheet" href="static/css/style.css">
</head>
