// /* stylelint-disable */

@mixin burger {
  --burger-width: 24px;
  --burger-height: 14px;
  --burger-line-height: 2px;
  --border-radius: 3px;

  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: rgba(var(--cl-a),1.0);
  background-color: transparent;
  flex-shrink: 0;
  cursor: pointer;
  transition: all .3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    border-radius: var(--border-radius);
  }

  &::before {
    top: 0;
  }

  &::after {
    width: 65%;
    top: calc(100% - var(--burger-line-height));
  }

  &__line {
    position: absolute;
    right: 0;
    top: 50%;
    width: 85%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
    border-radius: var(--border-radius);
  }

  &.active {
    &::before {
      top: 45%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      width: 100%;
      top: 45%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .h2o-burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }

  &:hover{
    color: rgba(var(--bg-d),1.0);
  }
}


